
body {
    background-color: grey;
  }
  
  button {
    width: 32%;
    padding: 12px 8px;
    border: none;
    border-radius: 2.5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 1em;
    background-color: #800080;
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }